@model ParkingManagementSystem.Models.UserInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Check-Out Form</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Check-Out Form</h4></div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                
                <div class="form-group">
                    <label>Parking Slot Number:</label>
                    @Html.TextBoxFor(x => x.ParkingSlotNumber, new { @class = "form-control" })
                </div>

                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Submit to generate fare" />
                </div>
            }

        </div>
    </div>
    
</body>
</html>
