
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>PMS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/Content/style.css" />
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Lato", sans-serif
    }

    .w3-bar, h1, button {
        font-family: "Montserrat", sans-serif
    }

    .fa-anchor, .fa-coffee {
        font-size: 200px
    }
</style>
<body>

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-red w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact Us</a>

        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
            <a href="#" class="w3-bar-item w3-button w3-padding-large">About</a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large">Contact Us</a>
        </div>
    </div>

    <!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">Parking Management System</h1>
        <p class="w3-xlarge">Web-app</p>
        <div class="w3-button w3-black w3-padding-large w3-large w3-margin-top">@Html.ActionLink("Already Parked? Check out here!", "CheckOutForm")</div>
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Parking Slot Selector</h1>
                <h5 class="w3-padding-32">Parking Slot Selector</h5>

                <p>
                    <button class="pbutton">PS 1</button>
                    <button class="pbutton">PS 2</button>
                    <button class="pbutton">PS 3</button>
                    <button class="pbutton">PS 4</button>
                    <button class="pbutton">PS 5</button>
                    <button class="pbutton">PS 6</button>
                    <button class="pbutton">PS 7</button>
                    <button class="pbutton">PS 8</button>
                    <button class="pbutton">PS 9</button>
                    <button class="pbutton">PS 10</button>
                    <button class="pbutton">PS 11</button>
                    <button class="pbutton">PS 12</button>
                    <button class="pbutton">PS 13</button>
                    <button class="pbutton">PS 14</button>
                    <button class="pbutton">PS 15</button>
                    <button class="pbutton">PS 16</button>
                    <button class="pbutton">PS 17</button>
                    <button class="pbutton">PS 18</button>
                    <button class="pbutton">PS 19</button>
                    <button class="pbutton">PS 20</button>
                    <button class="pbutton">PS 21</button>
                    <button class="pbutton">PS 22</button>
                    <button class="pbutton">PS 23</button>
                    <button class="pbutton">PS 24</button>
                    <button class="pbutton">PS 25</button>
                    <button class="pbutton">PS 26</button>
                    <button class="pbutton">PS 27</button>
                    <button class="pbutton">PS 28</button>
                    <button class="pbutton">PS 29</button>
                    <button class="pbutton">PS 30</button>


                </p>
            </div>

            
        </div>
    </div>

   
    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
        <h1 class="w3-margin w3-xlarge">Quote of the day: Always do what you are afraid to do.</h1>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity">
        <div class="w3-xlarge w3-padding-32">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p>No animals were harmed during the making of this. <br>Developed by Harshita Joshi and Prabhu Pant</p>
    </footer>

    <script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
    </script>

</body>
</html>
